*{
    margin: 0;
}


p{
    
   font-size: x-large;
   border: 2px dashed black;
   color: blue;
}

body{
    background-color: gray;
}

.test{
    color: orange;
    border: 1px solid b;
}

#test2 {
    color: chocolate;
}

b {
    display:block;
    background-color: yellow;
}





.newlayout{
    display: flex;
    flex-direction:row;
   
}


.newlayout div{

    background-color: red;
    height: 100px;
    width:100px;
    border: 2px solid black;
    margin: 10px;
    flex-basis: 400px ;
    /* for direction = row - width 
    for direction = column - height */
   

}

.first{
    flex-shrink: 0.2;
}


#parent{
    background-color: red;
    width: 100vw;
    height: 80vh;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content:space-evenly; /* main axis*/
    align-items: center; /* cross axis*/

    /* space-around - more space around the div - spacing on both sides of div equally

space-between - more space between the div, no space at extreme sides

space - evenly - spacing the rest of screen area evenly */

}

.child{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    
    /* margin: 20px;
  */
    
}